@model IEnumerable<DotNews.Data.Report>

@{
    ViewData["Title"] = "Index";
}

<h1 style="margin-left: auto; margin-right: auto; text-align: center;">News Feed</h1>
<br />
<hr />
<br />

@foreach (var item in Model)
{
    <h2 style="margin-left: auto; margin-right: auto; text-align: center;">@Html.DisplayFor(modelItem => item.Title)</h2>
    <h4 style="margin-left: auto; margin-right: auto; text-align: center;">@Html.DisplayFor(modelItem => item.Description)</h4>
    <p style="margin-left: auto; margin-right: auto; text-align: justify;">@Html.DisplayFor(modelItem => item.Body)</p>
    <p style="text-align: right;">@Html.DisplayFor(modelItem => item.CreatedBy)</p>
    <p style="text-align: right;">@Html.DisplayFor(modelItem => item.CreatedDate)</p>
    <p style="text-align: right;">@Html.DisplayFor(modelItem => item.LastUpdatedDate)</p>
    <hr />
}

