@model IEnumerable<DotNews.Data.Report>

@{
    ViewData["Title"] = "Index";
}

<h1>News Feed</h1>

@foreach (var item in Model) {
    <li>
        <ul>
            @Html.DisplayFor(modelItem => item.Title)
        </ul>
        <ul>
            @Html.DisplayFor(modelItem => item.Description)
        </ul>
        <ul>
            @Html.DisplayFor(modelItem => item.Body)
        </ul>
        <ul>
            @Html.DisplayFor(modelItem => item.CreatedBy)
        </ul>
        <ul>
            @Html.DisplayFor(modelItem => item.CreatedDate)
        </ul>
        <ul>
            @Html.DisplayFor(modelItem => item.LastUpdatedDate)
        </ul>
        <ul>
            @Html.DisplayFor(modelItem => item.Category)
        </ul>
        <hr />
    </li>
}
<br />

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
        </tr>
}
    </tbody>
</table>*@
